{% extends 'blog/base.html' %}

{% block content %}
<style>
      #intro {
        background-image: url("../../static/emerald(index).jpg");
        background-size: cover;
        height: 66vh;
      }

      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: 60px;
        }
      }

    </style>



    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <div class="mask" >
        <div class="container d-flex align-items-center justify-content-center text-center h-100">
          <div class="text-white">
            <br>
            <h1 class="mb-4">"Tacos on Mars?"</h1>
            <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
              rel="nofollow" target="_blank">Read the short story here</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
  <hr class="my-4" />
  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
              <img src="../../static/Small-rocket-launch.PNG" class="img-fluid"/>
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>Ab Initio</strong></h4>
            <p class="text-muted">
              Good morning! This website was created for use by a college computer science
              student to practice web development, as well as teach and document progress
              along the way. This website will continue to grow and develop as I learn.
              <br>
              <em>Per Audacia ad Astra!</em>
            </p>
            <p><strong>Quid Intus</strong></p>
            <p class="text-muted">
              Throughout <em>Tacos on Mars</em> you will find Programming Tutorials simple
              enough for anyone to follow (and me to write), food recipes that are as
              <em>exquisito</em> as they are easy to make. In the blog section you will
              find discussions written by multiple authors on various subjects you may
              find interesting.
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Tacos on Mars</strong></h4>

        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../static/space-socrates.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Blog</h5>
                <p class="card-text">
                  Coding, stories, philosophies, and everything in between.
                </p>
                <a href="#!" class="btn btn-info">Visit</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../static/tacos.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Recipes</h5>
                <p class="card-text">
                  Recipes that don't require you to scroll through a life story to make...
                  also they're pretty good.
                </p>
                <a href="#!" class="btn btn-info">Visit</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="../../static/space_coding.PNG" class="img-fluid"/>
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Tutorials</h5>
                <p class="card-text">
                  Anything is possible with a little code and a lot of luck.
                </p>
                <a href="#!" class="btn btn-info">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />


    </div>
  </main>
  <!--Main layout-->

{% endblock %}